* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.base {
    display: flex;
    flex-direction: column;
    gap: 1px;
    border-radius: 3px;
    padding: 4px;
    background-color: rgb(0, 0, 0);
    width: 83px;
    /*height: 108px;*/
}

.screen, .remove {
    border: 0.5px solid black;
    /*height: 16px;*/
    width: 75px;
}

.screen {
    display: flex;
    align-items: center;
    background-color: gray;
    min-height: 16.8px;
}

.container {
    display: flex;
    line-height: 1;
    font-size: 16px;

    word-break: break-word;
    overflow-wrap: break-word; 
    white-space: normal; 
}

.remove {
    height: 16px;
    display: flex;
    gap: 1px;
    margin-top: 2px;
}

.clear, .delete {
    flex: 1;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear {
    background-color: rgb(228, 96, 96);
}

.delete {
    background-color: rgb(60, 113, 212);
}

.keys {
    font-size: 16px;
    height: 64px;
    width: 75px;
    display: flex;
    flex-wrap: wrap;
}

.keys div {
    background-color: rgb(198, 224, 230);
    border: 0.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


